@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.balance{
    height: 15%;
    width: 30%;
    top: 25px;
    right: 30px;
    position: fixed;
    z-index: 1;
    background-color:rgb(255, 255, 255) ;
    text-align: center;
    border: 0.5px solid #666666;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 200;
    animation: 0.7s slidein;
}


@keyframes slidein {
    from {
      width: 0%;
    }
    to {
      width: 30%;
    }
}
