body{
  padding: 20px 130px 80px 130px;
  background: #ebeded;

}

@media (max-width: 1250px) {
  body{
    padding: 20px 60px 80px 60px;  
  }
}

@media (max-width: 640px) {
  body{
    padding: 20px 30px 40px 30px;  
  }
}